<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet"/>
    <title>8200-Sign Up</title>
</head>

<script src="Assets/menu-bar.js" type="module"></script>
<menu-bar></menu-bar>

<body class="main-body">
    
    <h1 class="main-header" style="margin-bottom: 20px;">Sign Up Page</h1>

    <div class="form-holder">
        <form class="form-body">
    
            <p1 id="status" style="text-align : center; font-size: 14pt; margin: 20px;">Please Sign Up Below: </p1>
           
            <label> First Name: </label>
            <input id="firstname" name="firstname" type='text' style="margin-bottom: 20px;" required/>

            <label> Last Name: </label>
            <input id="lastname" type='text' name="lastname" style="margin-bottom: 20px;" required/>

            <label> Email:  </label>
            <input id="email" type="text" for="email" name="email" style="margin-bottom: 20px;" required/>
            
            <label> Password: </label>
            <input id="password" type="password" name="password" style="margin-bottom: 20px;" required/>
          
            <input type="submit" class="submit-button" id="signup-submit" value="Create Account"/>
            
            <script src="scripts/loginorSign.js"></script> 
        
        </form>
    </div>

    <div class="form-holder"></div>
    
   

</body>
</html>