<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body class="main-body">
    
    <div id="user-info-area" style="margin-bottom:20px;">
        <h1 id="welcome-user" style="margin-left:20px;"></h1>
        <p1 style="margin-left:20px;"><a href="/logout">Logout</a></p1>
    </div>

    
    
    <div style="margin-bottom:20px; margin-left: 20px;">
        <input id="add-item-field" type="text">
        <button id="add-data">Add Item</button>
        <button id="remove-data" style="margin-bottom:20px; ">Remove Item</button>
    </div>
    
    <div id="list" style="border-style: dashed; margin-left: 20px;">
        <h1 style="text-align:center">Here's What Needs to Be Completed</h1>
       
    </div>


    <script src="scripts/script.js"></script>

</body>
</html>

