<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body class="main-body">
   
    <div style="margin-bottom: 20px;">
        <span style="display: inline-block">
            <h1 id="welcome-user" style="margin-left:20px;"></h1>
        </span>
        <span id="user-info-area" style=" margin-top: 30px; margin-bottom:20px; margin-right:20px; float:right;">
            <p1 style="margin-left:20px;"><a href="/logout" style="text-decoration:none; border:solid; border-radius: 5px; color:black; font-weight: bold; padding:10px;">Logout</a></p1>
        </span>
    </div>
    

    

    <div style="margin-bottom:20px; margin-left: 20px;">
        <form class="to-do-enter-form">
            <input id="add-item-field" type="text" style="border-radius: 5px;">
            <button id="add-data" style="border-radius: 5px;">Add Item</button>
            <button id="remove-data" style="margin-bottom:20px; border-radius: 5px;">Remove Item</button>
        </form>
        
    </div>
    
    <div id="list" style="border-style: dashed; margin: 20px; border-radius: 5px;">
        <h1 style="text-align:center">Here's What Needs to Be Completed</h1>
       
    </div>


    <script src="scripts/script.js"></script>

</body>
</html>

