.main-header{
    text-align: center;
    margin: 20px; 
   
}

.form-body{
    display: flex; 
    height: min-content;
    float: center;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    background:linear-gradient(to left,#FCF6CF, #FF886A);  
    /* background: gray; */
    padding: 20px;
   
}

.form-holder{
    margin-left: 25%; 
    margin-top: 5%;
    margin-bottom: 5%;
    float: left; 
    width: 50%;
    height: 50%;
   
}


.main-body{ 
    background: linear-gradient(to right, #db442d, #FCF6CF);
    /* background: gray; */
}


.submit-button{
    margin-bottom: 20px; 
    width:min-content; 
    align-self: center;
}

/* CSS Code for To Do List When Loaded */
.list-element-span{
    margin: 20px; 
    border-style: solid;
    border-radius: 5px;
    padding:20px;
    font-size: larger;
    font-weight: bold;
}

.check-button{
    /* appearance: none; */
    margin-right: 20px;
    color: black;

}


